// Medium devices (tablets, 768px and up)
@media (max-width: 767.98px)
    .left-default-column
        display: none
    
    .right-default-column
        .feature-aside
            margin-top: 10px;
        .navigation-container
            .navigation-link
                text-align: center !important
        .div-wapper
            .newer-post
                margin-bottom: 20px

@media(max-height: 600px)
    .left-default-column
        .profile-image, .quote
            display: none