#back2Top
    width: 60px;
    line-height: 60px;
    overflow: hidden;
    z-index: 999999;
    display: none;
    cursor: pointer;
    transform: rotate(270deg);
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;

#back2Top:hover
    background-color: #DDF;
    color: red;